In [2]:
import json
import pandas as pd

data_path = 'questions.json'

# Open and read the JSON file
with open(data_path, 'r') as json_file:
    data = json.load(json_file)
# Create a DataFrame from the JSON data
df = pd.DataFrame(data)
df

,question,solution,answer
0,Question: Brennan is in a 100-mile race. He ha...,def solution():\n #Brennan has 30 of the 10...,245.5
1,Question: Sharon and her friend ate at a resta...,def solution():\n #Sharon ate 30 dumplings\...,1206729
2,Question: A toy car sells for $26. It is 30% o...,def solution():\n # A toy car sells for $26...,2.197802
3,"Question: Finding out that a new, nearby gym h...",def solution():\n #Former gym's members wer...,2347537.333333
4,Question: A spiny lobster might scavenge for 1...,def solution():\n #A lobster can scavenge 2...,210.0
...,...,...,...
581,"Question: The scone cost $4, the muffin cost $...","def solution():\n #The scone cost $4, the m...",24
582,Question: 4 pizzas cost $32. 2 pizzas cost $16...,def solution():\n # 4 pizzas cost $32\n ...,8.0
583,Question: Gina is in a candy store that sells ...,def solution():\n #Gina has 5 dollars\n ...,0.5
584,"Question: For my 18th birthday, my parents gav...",def solution():\n #I got $100 for my 18th b...,1459.374246
585,Question: Chase and his parents are going on a...,def solution():\n #Chase and his parents ar...,275.0